<!DOCTYPE html>
<html>
    <script src="/public/libs/socket.io.js"></script>
    <script src="/public/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/public/libs/virtualjoystick.js/virtualjoystick.js"></script>

    <link rel="stylesheet" href="/public/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/libs/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/libs/font-awesome-4.7.0/css/font-awesome.min.css">

    <body>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center row" style="height:80vh; width:100vw" id="container" style="display: none; vertical-align: middle;">
			<img scr="http://192.168.1.19:8081/" alt="Web Camera Feed" id="cameraFeed" style="text-align:center; align-content: center; vertical-align: middle;">
        </div>
		
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center row">
				<div id="queue"></div>
			</div>
			
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center row" id="giveSpot">
				<button class="btn btn-primary" onmousedown="giveSpot()" ontouchstart="giveSpot()">
					<i class="fa-2x fa fa-sign-out ">Give Up Control</i>
				</button>
			</div>
			
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center row">
				<div id="chat"></div>
			</div>
		</div>
    </body>
	
    <script src="/public/controllers/car.js"></script>
</html>
